/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'twglrpg';
@reset      : 'twglrpg';

/* Elements */
@button     : 'twglrpg';
@container  : 'twglrpg';
@divider    : 'twglrpg';
@flag       : 'twglrpg';
@header     : 'twglrpg';
@icon       : 'twglrpg';
@image      : 'twglrpg';
@input      : 'twglrpg';
@label      : 'twglrpg';
@list       : 'twglrpg';
@loader     : 'twglrpg';
@rail       : 'twglrpg';
@reveal     : 'twglrpg';
@segment    : 'twglrpg';
@step       : 'twglrpg';

/* Collections */
@breadcrumb : 'twglrpg';
@form       : 'twglrpg';
@grid       : 'twglrpg';
@menu       : 'twglrpg';
@message    : 'twglrpg';
@table      : 'twglrpg';

/* Modules */
@accordion  : 'twglrpg';
@checkbox   : 'twglrpg';
@dimmer     : 'twglrpg';
@dropdown   : 'twglrpg';
@embed      : 'twglrpg';
@modal      : 'twglrpg';
@nag        : 'twglrpg';
@popup      : 'twglrpg';
@progress   : 'twglrpg';
@rating     : 'twglrpg';
@search     : 'twglrpg';
@shape      : 'twglrpg';
@sidebar    : 'twglrpg';
@sticky     : 'twglrpg';
@tab        : 'twglrpg';
@transition : 'twglrpg';

/* Views */
@ad         : 'twglrpg';
@card       : 'twglrpg';
@comment    : 'twglrpg';
@feed       : 'twglrpg';
@item       : 'twglrpg';
@statistic  : 'twglrpg';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : 'site';


/*******************************
         Import Theme
*******************************/

@import "theme.less";

/* End Config */
