<div ng-if="!user" ng-hide="currentPath.path() == '/register'">
  <form class="ui form">
    <div class="field">
      <label>Username</label>
      <input ng-model="email" placeholder="Username" type="text">
    </div>
    <div class="field">
      <label>Password</label>
      <input ng-model="password" placeholder="example@domain.com" type="password">
    </div>
    <button class="ui blue button" type="submit" ng-click="login(email, password)">Login</button>
    <a class="ui green button" type="submit" href="/register">Register</a>

  </form>
</div>
<div ng-if="user">
  Logged in as {{user.email}}
  <button class="ui red button" type="submit" ng-click="logout()">Logout</button>
</div>
