<h1 id="-">Главная страница</h1>
<h3 id="-">Привет!</h3>
<p>Это главная страница. Ты ее можешь видеть по ряду причин:</p>
<ul>
<li>потому, что еще не вошел или не зарегистрировался.</li>
<li>ты действительно хочешь ее видеть.</li>
<li>просто главная страница.</li>
</ul>
<h3 id="-">О чем вообще речь?</h3>
<p>Это главная страница будущей (надеюсь, что я ее доделаю) двухмерной тайловой игры</p>
<h3 id="-">Как я сюда попал?</h3>
<p>Есть несколько вариантов</p>
<ol>
<li>Ты нашел мой репозиторий на гитхабе.</li>
<li>Я сам прислал ссылку на репозиторий.</li>
<li>Возможно, я запустил локальный сервер и решил его показать.</li>
</ol>
<h3 id="-">Чем я могу помочь?</h3>
<p>Всем, чем угодно. Если ты хочешь побыстрее увидеть игру, ты можешь помочь с</p>
<ul>
<li>дизайном тайлов</li>
<li>дизайном сайта</li>
<li>архитектурой</li>
<li>разработкой сервера</li>
<li>разработкой клиента</li>
<li>разработкой квестов и истории</li>
</ul>
<p>Искренне твой, разработчик.</p>
