<h1 id="-">Вопросы и ответы</h1>
<blockquote class="ui testimonial">
<p>Это еще одна бесполезная игра!</p>
</blockquote>
<p>я знаю</p>
<blockquote class="ui testimonial">
<p>ШГ</p>
</blockquote>
<p>да</p>
<blockquote class="ui testimonial">
<p>Ничего не работает</p>
</blockquote>
<p>все под контролем</p>
<blockquote class="ui testimonial">
<p>Куча закомментированного кода!</p>
</blockquote>
<p>это для количества</p>
<blockquote class="ui testimonial">
<p>Зачем AngularJS? Ты же не используешь и 1% его возможностей</p>
</blockquote>
<p>зато круто звучит</p>
<blockquote class="ui testimonial">
<p>Markdown? Выглядит ущербно, и стили поправь</p>
</blockquote>
<p>я дизайнер, я так вижу</p>
